body {
    background-color: #f7fbff;
}

.col-12 {
    width: 430px;
    margin: 0 auto;
    background-color: #f7fbff;
    font-family: 'Raleway', sans-serif;
}

.body-table {
    margin: 0px auto;
    background-color: #f7fbff;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: flex;
    padding: 20px;
}


.showQuestionsTable {
    margin: auto;

}

.container {
    padding-top: 64px;
}

.title {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: #88bcff;
}

.day {
    font-size: 16px;
    font-weight: 400;
    /* text-align: center; */
    color: #88bcff;
}

.titleSelect {
    width: 100%;
    padding: 12px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 15px;
    line-height: 18px;

    color: #575756;
    background-color: transparent;


    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

}

.showQuestionnaireBtn {
    margin-left: 80%;
}

#endDate {
    margin-bottom: 20px;
}

.date {
    width: 100%;
    padding: 12px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 15px;
    line-height: 18px;

    color: #575756;
    background-color: transparent;


    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

}


button {
    outline: none;
    border-color: #88bcff;
    padding: 12px 20px;
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 50px;
    background-color: rgb(180, 161, 233);
    border: 2px solid rgb(180, 161, 233);
}

button:hover {
    color: rgb(190, 176, 228);
    background-color: rgb(255, 255, 255);
    border: 2px rgb(180, 161, 233) solid;

    /* color:#003C9D;
    background-color:#fff;
    border:2px #003C9D solid; */
}

/* 六角css */
.Pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
}

.Pagination .pagination__group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pagination .pagination__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(221, 221, 221);
    border-width: 1px 1px 1px 0;
    background-color: #fff;
    background-color: #fff;
    transition: all 0.3s;
    cursor: pointer;
}

.Pagination .pagination__item.active,
.Pagination .pagination__item:hover {
    background-color: rgb(180, 161, 233);
    color: #fff;
}

.Pagination .pagination__item.unclick {
    background-color: #ddd;
    color: rgb(180, 161, 233);
    cursor: not-allowed;
}

.Pagination .pagination__item.pre::after {
    content: "<<";
}

.Pagination .pagination__item.next::after {
    position: relative;
    z-index: 1;
    content: ">>";
}

.Pagination .pagination__item:first-child {
    border-left: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
}

.Pagination .pagination__item:last-child {
    border-radius: 0 5px 5px 0;
}

/* #pageModule {
    display: flex;
    align-items: center;
    justify-content: center;
}

#numberPageModule {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
} */

#inputs input {
    width: 100px;
    height: 50px;
    background-color: white;
}

#table {
    width: 90%;
    background-color: #60226b;
}